html_tests_Tokenizer_test1		        JSON	"test1.test"
html_tests_Tokenizer_test2		        JSON	"test2.test"
html_tests_Tokenizer_test3		        JSON	"test3.test"
html_tests_Tokenizer_test4		        JSON	"test4.test"
html_tests_Tokenizer_contentModelFlags          JSON	"contentModelFlags.test"
html_tests_Tokenizer_domjs		        JSON	"domjs.test"
html_tests_Tokenizer_entities		        JSON	"entities.test"
html_tests_Tokenizer_escapeFlag		        JSON	"escapeFlag.test"
html_tests_Tokenizer_namedEntities		JSON	"namedEntities.test"
html_tests_Tokenizer_numericEntities	        JSON	"numericEntities.test"
html_tests_Tokenizer_pendingSpecChanges	        JSON   	"pendingSpecChanges.test"
html_tests_Tokenizer_unicodeChars		JSON	"unicodeChars.test"
html_tests_Tokenizer_unicodeCharsProblematic    JSON    "unicodeCharsProblematic.test"
html_tests_Tokenizer_xmlViolation		JSON	"xmlViolation.test"
